extends layout

block layout-content
    div.View.WelcomeView
      h1.Banner Disney +
      div.Message
        div.Title
          h1 Sourcing the SWAPI API
        
        span.Details The SWAPI Keyword Dashboard
      div.NavButtons
        a(href="/dashboard")
            div.NavButton Check it out!
